/* 新闻分类 */
#app{
    box-sizing: border-box;
    height: 100%;
    padding-top: 1.2rem;
}
#nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.2rem;
    background-color: #fff;
    box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.2);
    overflow: auto;
    z-index: 100
}
.box-flag{
    width: max-content;
}
.box-flag li a{
    height: 1.2rem;
    padding: 0 .4rem;
    line-height: 1.2rem;
    color: #8a8a8a
}
.box-flag li a.router-link-active{
    color: #f00;
}
/* 新闻列表 */
#mescroll{
    height: 100%;
}
.new-list{
    padding: 0 .4rem;
}
.new-list li{
    border-style: solid;
    border-color: transparent transparent #eee transparent
}
.new-list li a{
    display: block;
    height: 2.2rem;
    padding: .15rem 0;
    position: relative;
}
.new-list li .title{
    line-height: 1.6em
}
.new-list li .info{
    position: relative;
    height: 100%;
    margin-left: 3.9rem;
}
.new-list li .about{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.new-list li .about em{
    font-style: normal;
    color: #909090;
}
.new-list li .pic{
    height: 100%;
    width: 3.5rem;
}
.swiper-container {
  height: 5.6rem;
  width: 10rem;
}

.swiper-slide {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
}
